html {
    background-color: lightblue;
    text-align: center;
    margin-top: 20%;
}

h1 {
    text-shadow:
        -1px -1px #000,
        0 1px 0 #444;
    color: #222;
    transition: all 1s;
}

h1:hover {
    text-shadow:
        -1px -1px #000,
        0 1px 0 #444;
    color: #1A1A1A;
}

button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64, 199, 129);
    box-shadow: 0 -3px rgb(53, 167, 110) inset;
    transition: 0.2s;
}

button:hover {
    background: rgb(53, 167, 110);
}

button:active {
    background: rgb(33, 147, 90);
    box-shadow: rgb(33, 147, 90);
}